@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@media only screen and (max-width: 1440px) {
  .marginSM {
    margin-top: 0.005rem;
  }
}
@media only screen and (max-width: 1024px) {
  .marginSM {
    margin-top: 0.05rem;
  }
}
@media only screen and (max-width: 800px) {
  .marginSM {
    margin-top: 0.25rem;
  }
}
@media only screen and (max-width: 425px) {
  .marginSM {
    margin-top: 0.55rem;
  }
}
@media only screen and (max-width: 340px) {
  .marginSM {
    margin-top: 1rem;
  }
}
